# 2. Python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release)

In [1]:
!pip install selenium

Requirement already satisfied: selenium in /Library/anaconda3/lib/python3.7/site-packages (3.141.0)
Requirement already satisfied: urllib3 in /Library/anaconda3/lib/python3.7/site-packages (from selenium) (1.25.8)

In [2]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
driver = webdriver.Chrome("/Users/apple/.wdm/drivers/chromedriver/mac64/86.0.4240.22/chromedriver")

In [4]:
movie= []              
imdb_rating= []       
year_of_release=[]    

url = 'https://www.imdb.com/chart/top/'
driver.get(url)

In [5]:
soup=BeautifulSoup(driver.page_source, 'html.parser')

In [6]:
name=soup.find_all('td',attrs={'class':'titleColumn'},limit=100)

In [7]:
for i in name:
     temp=i.get_text().replace('\n',' ').replace(',',' ').strip()
     movie.append(temp)

In [8]:
rating=soup.findAll('td',attrs={'class':'ratingColumn imdbRating'},limit=100)

In [9]:
for i in rating:
    temp=i.get_text().replace('\n',' ').replace(',',' ').strip()
    imdb_rating.append(temp)

In [10]:
year=soup.findAll('span',attrs={'class':'secondaryInfo'},limit=100)

In [11]:
for i in year:
    temp=i.get_text().replace('\n',' ').replace(',','').strip()
    year_of_release.append(temp)

In [12]:
df = pd.DataFrame({'Name':movie, 'Release Year':year_of_release,'IMDB Rating':imdb_rating})
df

                                        Name Release Year IMDB Rating
0   1.       The Shawshank Redemption (1994)       (1994)         9.2
1              2.       The Godfather (1972)       (1972)         9.1
2     3.       The Godfather: Part II (1974)       (1974)         9.0
3            4.       The Dark Knight (2008)       (2008)         9.0
4               5.       12 Angry Men (1957)       (1957)         8.9
..                                       ...          ...         ...
95                 96.       The Hunt (2012)       (2012)         8.3
96             97.       Citizen Kane (1941)       (1941)         8.3
97                     98.       1917 (2019)       (2019)         8.3
98        99.       Full Metal Jacket (1987)       (1987)         8.2
99         100.       Bicycle Thieves (1948)       (1948)         8.2

[100 rows x 3 columns]

In [13]:
df.to_csv('IDMB_movie_ratings.csv',encoding='utf-8-sig')