# 3. Python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release)

In [1]:
!pip install selenium

Requirement already satisfied: selenium in /Library/anaconda3/lib/python3.7/site-packages (3.141.0)
Requirement already satisfied: urllib3 in /Library/anaconda3/lib/python3.7/site-packages (from selenium) (1.25.8)

In [2]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
driver = webdriver.Chrome("/Users/apple/.wdm/drivers/chromedriver/mac64/86.0.4240.22/chromedriver")

In [4]:
movie= []              
imdb_rating= []       
year_of_release=[]    

url = "https://www.imdb.com/india/top-rated-indian-movies/"
driver.get(url)

In [5]:
soup=BeautifulSoup(driver.page_source, 'html.parser')

In [6]:
name=soup.find_all('td',attrs={'class':'titleColumn'},limit=100)

In [7]:
for i in name:
     temp=i.get_text().replace('\n',' ').replace(',',' ').strip()
     movie.append(temp)

In [8]:
rating=soup.findAll('td',attrs={'class':'ratingColumn imdbRating'},limit=100)

In [9]:
for i in rating:
    temp=i.get_text().replace('\n',' ').replace(',',' ').strip()
    imdb_rating.append(temp)

In [10]:
year=soup.findAll('span',attrs={'class':'secondaryInfo'},limit=100)

In [11]:
for i in year:
    temp=i.get_text().replace('\n',' ').replace(',','').strip()
    year_of_release.append(temp)

In [12]:
df = pd.DataFrame({'Name':movie, 'Release Year':year_of_release,'IMDB Rating':imdb_rating})
df

                                             Name Release Year IMDB Rating
0                 1.       Pather Panchali (1955)       (1955)         8.5
1                      2.       Raatchasan (2018)       (2018)         8.5
2                     3.       Hanky Panky (1979)       (1979)         8.5
3                         4.       Nayakan (1987)       (1987)         8.5
4                      5.       Anbe Sivam (2003)       (2003)         8.5
..                                            ...          ...         ...
95          96.       Lage Raho Munna Bhai (2006)       (2006)         8.0
96                       97.       Deewaar (1975)       (1975)         8.0
97                        98.       Indian (1996)       (1996)         8.0
98   99.       Dilwale Dulhania Le Jayenge (1995)       (1995)         8.0
99  100.       Baahubali 2: The Conclusion (2017)       (2017)         8.0

[100 rows x 3 columns]

In [13]:
df.to_csv('IDMB_Indianmovie_ratings.csv',encoding='utf-8-sig')