# 5. i) Python program to display Top 10 ODI teams in men’s cricket along with the records for matches, points and rating from ‘www.icc-cricket.com’.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in /Library/anaconda3/lib/python3.7/site-packages (3.141.0)
Requirement already satisfied: urllib3 in /Library/anaconda3/lib/python3.7/site-packages (from selenium) (1.25.8)

In [2]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
driver = webdriver.Chrome("/Users/apple/.wdm/drivers/chromedriver/mac64/86.0.4240.22/chromedriver")

In [6]:
Team= []
Matches =[]
Rating= []

url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
driver.get(url)

In [7]:
soup=BeautifulSoup(driver.page_source, 'html.parser')

In [8]:
for i in soup.find_all("span",attrs={'class':"u-hide-phablet"},limit=10):
    names = i.text.replace('\n\n',' ').replace(" ","").strip()
    Team.append(names)

In [9]:
Team

['England',
 'India',
 'NewZealand',
 'Australia',
 'SouthAfrica',
 'Pakistan',
 'Bangladesh',
 'SriLanka',
 'WestIndies',
 'Afghanistan']

In [10]:
top=soup.find("td",attrs={'class':"rankings-block__banner--matches"})
temp=top.text.replace('\n',' ')
Matches.append(temp)
for i in soup.find_all("td",attrs={'class':"table-body__cell u-center-text"},limit=9):
    match= i.text.replace(" ","").strip()
    Matches.append(match)

In [11]:
Matches

['44', '49', '5,819', '32', '3,716', '36', '3,941', '31', '3,345', '33']

In [12]:
top=soup.find("td",attrs={'class':"rankings-block__banner--rating u-text-right"})
temp=top.text.replace('\n',' ')
Rating.append(temp)
for i in soup.find_all("td",attrs={'class':"table-body__cell u-text-right rating"},limit=9):
    ratings= i.text.replace(" ","").strip()
    Rating.append(ratings)

In [13]:
Rating

['                             123                               ',
 '119',
 '116',
 '109',
 '108',
 '102',
 '88',
 '85',
 '76',
 '55']

# ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [15]:
Batsmen= []
Team =[]
Rating= []

url ='https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
driver.get(url)

In [16]:
soup=BeautifulSoup(driver.page_source, 'html.parser')

In [17]:
top=soup.find("td",attrs={'class':"rankings-block__top-player-container"})
temp=top.text.replace('\n',' ')
Batsmen.append(temp)
for i in soup.find_all("td",attrs={'class':"table-body__cell rankings-table__name name"},limit=9):
    player = i.text.replace('\n\n',' ').replace(" ","").strip()
    Batsmen.append(player)

In [18]:
top=soup.find("div",attrs={'class':"rankings-block__banner--nationality"})
temp=top.text.replace('\n',' ')
Team.append(temp)
for i in soup.find_all("span",attrs={'class':"table-body__logo-text"},limit=9):
    teams = i.text.replace('\n\n',' ').replace(" ","").strip()
    Team.append(teams)

In [19]:
top=soup.find("div",attrs={'class':"rankings-block__banner--rating"})
temp=top.text.replace('\n',' ')
Rating.append(temp)
for i in soup.find_all("td",attrs={'class':"table-body__cell rating"},limit=9):
    ratings = i.text.replace('\n\n',' ').replace(" ","").strip()
    Rating.append(ratings)

In [20]:
df= pd.DataFrame({'Batsmen':Batsmen, 'Team':Team,'Rating':Rating})
df

                  Batsmen                        Team Rating
0          Virat Kohli       IND                         871
1             RohitSharma                         IND    855
2               BabarAzam                         PAK    829
3              RossTaylor                          NZ    818
4       FrancoisduPlessis                          SA    790
5          KaneWilliamson                          NZ    765
6              AaronFinch                         AUS    762
7             DavidWarner                         AUS    759
8           QuintondeKock                          SA    755
9           JonnyBairstow                         ENG    754

In [21]:
df.to_csv('Top_10_ODI_Batsmen.csv',encoding='utf-8-sig')

# iii) Top 10 ODI bowlers along with the records of their team and rating.

In [22]:
Bowler= []
Team =[]
Rating= []

url ='https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
driver.get(url)

In [23]:
soup=BeautifulSoup(driver.page_source, 'html.parser')

In [24]:
top=soup.find("div",attrs={'class':"rankings-block__banner--name-large"})
temp=top.text.replace('\n',' ')
Bowler.append(temp)
for i in soup.find_all("td",attrs={'class':"table-body__cell rankings-table__name name"},limit=9):
    players = i.text.replace('\n\n',' ').replace(" ","").strip()
    Bowler.append(players)

In [25]:
top=soup.find("div",attrs={'class':"rankings-block__banner--nationality"})
temp=top.text.replace('\n',' ')
Team.append(temp)
for i in soup.find_all("span",attrs={'class':"table-body__logo-text"},limit=9):
    teams = i.text.replace('\n\n',' ').replace(" ","").strip()
    Team.append(teams)

In [26]:
top=soup.find("div",attrs={'class':"rankings-block__banner--rating"})
temp=top.text.replace('\n',' ')
Rating.append(temp)
for i in soup.find_all("td",attrs={'class':"table-body__cell rating"},limit=9):
    ratings = i.text.replace('\n\n',' ').replace(" ","").strip()
    Rating.append(ratings)

In [27]:
df = pd.DataFrame({'Bowlers':Bowler, 'Team':Team,'Rating':Rating})
df

          Bowlers                       Team Rating
0     Trent Boult    NZ                         722
1   JaspritBumrah                        IND    719
2  MujeebUrRahman                        AFG    701
3     ChrisWoakes                        ENG    675
4    KagisoRabada                         SA    665
5      PatCummins                        AUS    659
6    MohammadAmir                        PAK    657
7   JoshHazlewood                        AUS    654
8       MattHenry                         NZ    641
9     JofraArcher                        ENG    637

In [28]:
df.to_csv('Top_10_ODI_Bowlers.csv',encoding='utf-8-sig')