# 6. i)Python program to scrape Top 10 ODI teams in women’s cricket along with the records for matches, points and rating from ‘www.icc-cricket.com’.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in /Library/anaconda3/lib/python3.7/site-packages (3.141.0)
Requirement already satisfied: urllib3 in /Library/anaconda3/lib/python3.7/site-packages (from selenium) (1.25.8)

In [2]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
driver = webdriver.Chrome("/Users/apple/.wdm/drivers/chromedriver/mac64/86.0.4240.22/chromedriver")

In [6]:
Team= []
Matches =[]
Rating= []

url ='https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
driver.get(url)

In [7]:
soup=BeautifulSoup(driver.page_source, 'html.parser')

In [8]:
for i in soup.find_all("span",attrs={'class':"u-hide-phablet"},limit=10):
    names = i.text.replace('\n\n',' ').replace(" ","").strip()
    Team.append(names)

In [11]:
Team

['Australia',
 'India',
 'England',
 'SouthAfrica',
 'NewZealand',
 'WestIndies',
 'Pakistan',
 'Bangladesh',
 'SriLanka',
 'Ireland']

In [9]:
top=soup.find("td",attrs={'class':"rankings-block__banner--matches"})
temp=top.text.replace('\n',' ')
Matches.append(temp)
for i in soup.find_all("td",attrs={'class':"table-body__cell u-center-text"},limit=9):
    match= i.text.replace(" ","").strip()
    Matches.append(match)

In [14]:
Matches

['15', '15', '1,812', '14', '1,670', '16', '1,713', '15', '1,384', '12']

In [10]:
top=soup.find("td",attrs={'class':"rankings-block__banner--rating u-text-right"})
temp=top.text.replace('\n',' ')
Rating.append(temp)
for i in soup.find_all("td",attrs={'class':"table-body__cell u-text-right rating"},limit=9):
    ratings= i.text.replace(" ","").strip()
    Rating.append(ratings)

In [15]:
Rating

['                             162                               ',
 '121',
 '119',
 '107',
 '92',
 '85',
 '77',
 '61',
 '47',
 '13']

# ii) Top 10 women’s ODI players along with the records of their team and rating.

In [16]:
Batsman= []
Team =[]
Rating= []

url ='https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'
driver.get(url)

In [17]:
soup=BeautifulSoup(driver.page_source, 'html.parser')

In [18]:
top=soup.find("div",attrs={'class':"rankings-block__banner--name-large"})
temp=top.text.replace('\n',' ')
Batsman.append(temp)
for i in soup.find_all("td",attrs={'class':"table-body__cell rankings-table__name name"},limit=9):
    player = i.text.replace('\n\n',' ').replace(" ","").strip()
    Batsman.append(player)

In [20]:
top=soup.find("div",attrs={'class':"rankings-block__banner--nationality"})
temp=top.text.replace('\n',' ')
Team.append(temp)
for i in soup.find_all("span",attrs={'class':"table-body__logo-text"},limit=9):
    teams = i.text.replace('\n\n',' ').replace(" ","").strip()
    Team.append(teams)

In [21]:
top=soup.find("div",attrs={'class':"rankings-block__banner--rating"})
temp=top.text.replace('\n',' ')
Rating.append(temp)
for i in soup.find_all("td",attrs={'class':"table-body__cell rating"},limit=9):
    ratings = i.text.replace('\n\n',' ').replace(" ","").strip()
    Rating.append(ratings)

In [22]:
df= pd.DataFrame({'Batsman':Batsman, 'Team':Team,'Rating':Rating})
df

            Batsman                        Team Rating
0       Meg Lanning    AUS                         749
1    StafanieTaylor                          WI    746
2       AlyssaHealy                         AUS    741
3    SmritiMandhana                         IND    732
4  AmySatterthwaite                          NZ    723
5     TammyBeaumont                         ENG    716
6       EllysePerry                         AUS    691
7        LizelleLee                          SA    690
8    LauraWolvaardt                          SA    689
9        MithaliRaj                         IND    687

In [23]:
df.to_csv('Top_10_ODI_Batsman.csv',encoding='utf-8-sig')

# iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [24]:
All_Rounder= []
Team =[]
Rating= []

url ='https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder'
driver.get(url)

In [25]:
soup=BeautifulSoup(driver.page_source, 'html.parser')

In [26]:
top=soup.find("div",attrs={'class':"rankings-block__banner--name-large"})
temp=top.text.replace('\n',' ')
All_Rounder.append(temp)
for i in soup.find_all("td",attrs={'class':"table-body__cell rankings-table__name name"},limit=9):
    players = i.text.replace('\n\n',' ').replace(" ","").strip()
    All_Rounder.append(players)

In [27]:
top=soup.find("div",attrs={'class':"rankings-block__banner--nationality"})
temp=top.text.replace('\n',' ')
Team.append(temp)
for i in soup.find_all("span",attrs={'class':"table-body__logo-text"},limit=9):
    teams = i.text.replace('\n\n',' ').replace(" ","").strip()
    Team.append(teams)

In [28]:
top=soup.find("div",attrs={'class':"rankings-block__banner--rating"})
temp=top.text.replace('\n',' ')
Rating.append(temp)
for i in soup.find_all("td",attrs={'class':"table-body__cell rating"},limit=9):
    ratings = i.text.replace('\n\n',' ').replace(" ","").strip()
    Rating.append(ratings)

In [29]:
df= pd.DataFrame({'All_Rounder':All_Rounder, 'Team':Team,'Rating':Rating})
df

      All_Rounder                        Team Rating
0    Ellyse Perry    AUS                         460
1  StafanieTaylor                          WI    410
2   MarizanneKapp                          SA    389
3    DeeptiSharma                         IND    359
4  DanevanNiekerk                          SA    335
5    JessJonassen                         AUS    301
6    SophieDevine                          NZ    289
7   NatalieSciver                         ENG    273
8    ShikhaPandey                         IND    250
9  KatherineBrunt                         ENG    232

In [30]:
df.to_csv('Top_10_ODI_All_Rounder.csv',encoding='utf-8-sig')